In [10]:
import pandas as pd

### Date and Time Delta

In [64]:
data={"date":['2023-01-01','2022-01-01','2023-02-15','2023-03-24']}
df=pd.DataFrame(data)
print(df)

         date
0  2023-01-01
1  2022-01-01
2  2023-02-15
3  2023-03-24

In [62]:
df['date']=pd.to_datetime(df['date'])
df['day']=df['date'].dt.day
df['month']=df['date'].dt.month
df['year']=df['date'].dt.year
print("{}\n{}\n{}\n{}".format(df['date'],df['day'],df['month'],df['year']))

0   2023-01-01
1   2022-01-01
2   2023-02-15
3   2023-03-24
Name: date, dtype: datetime64[ns]
0     1
1     1
2    15
3    24
Name: day, dtype: int32
0    1
1    1
2    2
3    3
Name: month, dtype: int32
0    2023
1    2022
2    2023
3    2023
Name: year, dtype: int32

In [118]:
## Extracting Weekdays information 
df=pd.DataFrame({'Date':pd.date_range(start='2024-01-01',periods=10)})
df['Weekday']=df['Date'].dt.weekday
df['IsWeekend']=df['Date'].dt.weekday // 5 == 1 # Print Wheather the day is weekday or weekend
df['IsWeekday']=(df['Date'].dt.weekday / 5 < 1)
print(df)

        Date  Weekday  IsWeekend  IsWeekday
0 2024-01-01        0      False       True
1 2024-01-02        1      False       True
2 2024-01-03        2      False       True
3 2024-01-04        3      False       True
4 2024-01-05        4      False       True
5 2024-01-06        5       True      False
6 2024-01-07        6       True      False
7 2024-01-08        0      False       True
8 2024-01-09        1      False       True
9 2024-01-10        2      False       True

In [112]:
df['PreviousDate']=df['Date']-pd.Timedelta(days=1)
df['NxtDate']=df['Date']+pd.Timedelta(days=1)
print(df)

        Date  Weekday  IsWeekend  IsWeekday PreviousDate    NxtDate
0 2024-01-01        0      False       True   2023-12-31 2024-01-02
1 2024-01-02        1      False       True   2024-01-01 2024-01-03
2 2024-01-03        2      False       True   2024-01-02 2024-01-04
3 2024-01-04        3      False       True   2024-01-03 2024-01-05
4 2024-01-05        4      False       True   2024-01-04 2024-01-06
5 2024-01-06        5       True      False   2024-01-05 2024-01-07
6 2024-01-07        6       True      False   2024-01-06 2024-01-08
7 2024-01-08        0      False       True   2024-01-07 2024-01-09
8 2024-01-09        1      False       True   2024-01-08 2024-01-10
9 2024-01-10        2      False       True   2024-01-09 2024-01-11

In [170]:
# Create DataFrame with Time Based Data
data={'data':pd.date_range(start='2023-01-01',periods=10,freq='D'),'Value1':range(10),'Value2':range(10,20)}
# Freq Can be changed to H -> Hour , M -> Month , Min -> Min , Date -> Date
df=pd.DataFrame(data)
print(df)

        data  Value1  Value2
0 2023-01-01       0      10
1 2023-01-02       1      11
2 2023-01-03       2      12
3 2023-01-04       3      13
4 2023-01-05       4      14
5 2023-01-06       5      15
6 2023-01-07       6      16
7 2023-01-08       7      17
8 2023-01-09       8      18
9 2023-01-10       9      19

In [172]:
delta=pd.Timedelta(days=3)
# Adding 3 days to dataframe
df['data'] = df['data']+delta
print(df)

        data  Value1  Value2
0 2023-01-04       0      10
1 2023-01-05       1      11
2 2023-01-06       2      12
3 2023-01-07       3      13
4 2023-01-08       4      14
5 2023-01-09       5      15
6 2023-01-10       6      16
7 2023-01-11       7      17
8 2023-01-12       8      18
9 2023-01-13       9      19

In [182]:
delta=pd.Timedelta(days=3,hours=3,minutes=2)
# Adding 3 days,3 hours, 2 mins to dataframe
df['Updateddata'] = df['data']+delta
print(df)

                 data  Value1  Value2         Updateddata
0 2023-04-10 21:42:00       0      10 2023-04-14 00:44:00
1 2023-04-11 21:42:00       1      11 2023-04-15 00:44:00
2 2023-04-12 21:42:00       2      12 2023-04-16 00:44:00
3 2023-04-13 21:42:00       3      13 2023-04-17 00:44:00
4 2023-04-14 21:42:00       4      14 2023-04-18 00:44:00
5 2023-04-15 21:42:00       5      15 2023-04-19 00:44:00
6 2023-04-16 21:42:00       6      16 2023-04-20 00:44:00
7 2023-04-17 21:42:00       7      17 2023-04-21 00:44:00
8 2023-04-18 21:42:00       8      18 2023-04-22 00:44:00
9 2023-04-19 21:42:00       9      19 2023-04-23 00:44:00

In [216]:
# Resampling Time Series data
df.set_index('data',inplace=True)
df_resampled=df.select_dtypes(include='number').resample('D').sum()
print(df_resampled)

                     Value2
Updateddata
2023-04-14 00:44:00      10
2023-04-15 00:44:00      11
2023-04-16 00:44:00      12
2023-04-17 00:44:00      13
2023-04-18 00:44:00      14
2023-04-19 00:44:00      15
2023-04-20 00:44:00      16
2023-04-21 00:44:00      17
2023-04-22 00:44:00      18
2023-04-23 00:44:00      19

KeyError: "None of ['data'] are in the columns"

###Creating Categorical variables

In [253]:
categories=['Low','Medium','High']
values=['Low','Low','Low','Medium','High','Medium']
cat_variable=pd.Categorical(values,categories=categories,ordered=True)
print(cat_variable)

['Low', 'Low', 'Low', 'Medium', 'High', 'Medium']
Categories (3, object): ['High' < 'Low' < 'Medium']

In [243]:
# Counting Occurrences of each Category
df=pd.DataFrame({'Category':['A','B','C','D','A','F','A','B']})
count=df['Category'].value_counts()
print(count)

Category
A    3
B    2
C    1
D    1
F    1
Name: count, dtype: int64

In [245]:
df=pd.DataFrame({'Category':['A','B','C','D','A','F','A','B']})
category=pd.get_dummies(df['Category'],prefix="column")
print(category)

   column_A  column_B  column_C  column_D  column_F
0      True     False     False     False     False
1     False      True     False     False     False
2     False     False      True     False     False
3     False     False     False      True     False
4      True     False     False     False     False
5     False     False     False     False      True
6      True     False     False     False     False
7     False      True     False     False     False