In [1]:
import pandas as pd

In [93]:
df=pd.DataFrame({'Column':['Hello','World',"Python"]})

In [95]:
df['Char_Len']=df['Column'].str.len()
print(df)

   Column  Char_Len
0   Hello         5
1   World         5
2  Python         6

In [97]:
df['Char_lower']=df['Column'].str.lower()
print(df)
df['Char_upper']=df['Column'].str.upper()
print(df)
df['Char_title']=df['Column'].str.title()
print(df)

   Column  Char_Len Char_lower
0   Hello         5      hello
1   World         5      world
2  Python         6     python
   Column  Char_Len Char_lower Char_upper
0   Hello         5      hello      HELLO
1   World         5      world      WORLD
2  Python         6     python     PYTHON
   Column  Char_Len Char_lower Char_upper Char_title
0   Hello         5      hello      HELLO      Hello
1   World         5      world      WORLD      World
2  Python         6     python     PYTHON     Python

In [99]:
df['IsPythonExits']=(df['Column'].str.lower()).str.contains('python')
print(df)

   Column  Char_Len Char_lower Char_upper Char_title  IsPythonExits
0   Hello         5      hello      HELLO      Hello          False
1   World         5      world      WORLD      World          False
2  Python         6     python     PYTHON     Python           True

In [101]:
for i,r in df.iterrows():
    print("{}-{}\n".format(i,r))

0-Column           Hello
Char_Len             5
Char_lower       hello
Char_upper       HELLO
Char_title       Hello
IsPythonExits    False
Name: 0, dtype: object

1-Column           World
Char_Len             5
Char_lower       world
Char_upper       WORLD
Char_title       World
IsPythonExits    False
Name: 1, dtype: object

2-Column           Python
Char_Len              6
Char_lower       python
Char_upper       PYTHON
Char_title       Python
IsPythonExits      True
Name: 2, dtype: object

In [105]:
for r in df.itertuples():
    print("{}-{}-{}-{}".format(r.Index,r.Column,r.Char_Len,r.Char_lower))

0-Hello-5-hello
1-World-5-world
2-Python-6-python

In [83]:
df=pd.DataFrame({"Numbers":[10,20,30,40]})
df['Mutiplied']=df['Numbers'].apply(lambda x:x*2)
print(df)

   Numbers  Mutiplied
0       10         20
1       20         40
2       30         60
3       40         80

In [117]:
df=pd.DataFrame({"ColumnA":range(10,20),"ColumnB":range(20,30)})
df['Result_Column']=df['ColumnA']+df['ColumnB']
print(df)

   ColumnA  ColumnB  Result_Column
0       10       20             30
1       11       21             32
2       12       22             34
3       13       23             36
4       14       24             38
5       15       25             40
6       16       26             42
7       17       27             44
8       18       28             46
9       19       29             48

In [119]:
# Interating over a series
for i in df.itertuples():
    print(i)

Pandas(Index=0, ColumnA=10, ColumnB=20, Result_Column=30)
Pandas(Index=1, ColumnA=11, ColumnB=21, Result_Column=32)
Pandas(Index=2, ColumnA=12, ColumnB=22, Result_Column=34)
Pandas(Index=3, ColumnA=13, ColumnB=23, Result_Column=36)
Pandas(Index=4, ColumnA=14, ColumnB=24, Result_Column=38)
Pandas(Index=5, ColumnA=15, ColumnB=25, Result_Column=40)
Pandas(Index=6, ColumnA=16, ColumnB=26, Result_Column=42)
Pandas(Index=7, ColumnA=17, ColumnB=27, Result_Column=44)
Pandas(Index=8, ColumnA=18, ColumnB=28, Result_Column=46)
Pandas(Index=9, ColumnA=19, ColumnB=29, Result_Column=48)

In [135]:
series=pd.Series(range(10,20), name="Value")
for i in series.items():
    print(i)

(0, 10)
(1, 11)
(2, 12)
(3, 13)
(4, 14)
(5, 15)
(6, 16)
(7, 17)
(8, 18)
(9, 19)

In [153]:
# Sorting a dataframe
df = pd.DataFrame({"Name":["Yathish","Latha","Parnika"],"Age":["25","48","5"]})
df_sorted_age=df.sort_values(by='Age',ascending=False)
print(df_sorted_age)

      Name Age
2  Parnika   5
1    Latha  48
0  Yathish  25

In [159]:
# Sorting a dataframe
df = pd.DataFrame({"Name":["Yathish","Latha","Parnika"],"Age":["25","48","5"],"Salary":['20000','50000','10000']})
df_sorted_age=df.sort_values(by=['Age','Salary'],ascending=[False,True])
print(df_sorted_age)

      Name Age Salary
2  Parnika   5  10000
1    Latha  48  50000
0  Yathish  25  20000

In [176]:
series=pd.Series(range(1,4),index=['Yathish','Latha','Parnika'],name="MYLOVE")
print("---------------------------------")
print(series)
print("---------------ASENDCING-----------------")
print(series.sort_values(ascending=True))
print("----------------DESCENDING---------------")
print(series.sort_values(ascending=False))
print("---------------------------------")

---------------------------------
Yathish    1
Latha      2
Parnika    3
Name: MYLOVE, dtype: int64
---------------ASENDING-----------------
Yathish    1
Latha      2
Parnika    3
Name: MYLOVE, dtype: int64
---------------DESENDING---------------
Parnika    3
Latha      2
Yathish    1
Name: MYLOVE, dtype: int64
---------------------------------

### Plotting with Pandas