In [10]:
import pandas as pd

### Date and Time Delta

In [64]:
data={"date":['2023-01-01','2022-01-01','2023-02-15','2023-03-24']}
df=pd.DataFrame(data)
print(df)

         date
0  2023-01-01
1  2022-01-01
2  2023-02-15
3  2023-03-24

In [62]:
df['date']=pd.to_datetime(df['date'])
df['day']=df['date'].dt.day
df['month']=df['date'].dt.month
df['year']=df['date'].dt.year
print("{}\n{}\n{}\n{}".format(df['date'],df['day'],df['month'],df['year']))

0   2023-01-01
1   2022-01-01
2   2023-02-15
3   2023-03-24
Name: date, dtype: datetime64[ns]
0     1
1     1
2    15
3    24
Name: day, dtype: int32
0    1
1    1
2    2
3    3
Name: month, dtype: int32
0    2023
1    2022
2    2023
3    2023
Name: year, dtype: int32

In [118]:
## Extracting Weekdays information 
df=pd.DataFrame({'Date':pd.date_range(start='2024-01-01',periods=10)})
df['Weekday']=df['Date'].dt.weekday
df['IsWeekend']=df['Date'].dt.weekday // 5 == 1 # Print Wheather the day is weekday or weekend
df['IsWeekday']=(df['Date'].dt.weekday / 5 < 1)
print(df)

        Date  Weekday  IsWeekend  IsWeekday
0 2024-01-01        0      False       True
1 2024-01-02        1      False       True
2 2024-01-03        2      False       True
3 2024-01-04        3      False       True
4 2024-01-05        4      False       True
5 2024-01-06        5       True      False
6 2024-01-07        6       True      False
7 2024-01-08        0      False       True
8 2024-01-09        1      False       True
9 2024-01-10        2      False       True

In [112]:
df['PreviousDate']=df['Date']-pd.Timedelta(days=1)
df['NxtDate']=df['Date']+pd.Timedelta(days=1)
print(df)

        Date  Weekday  IsWeekend  IsWeekday PreviousDate    NxtDate
0 2024-01-01        0      False       True   2023-12-31 2024-01-02
1 2024-01-02        1      False       True   2024-01-01 2024-01-03
2 2024-01-03        2      False       True   2024-01-02 2024-01-04
3 2024-01-04        3      False       True   2024-01-03 2024-01-05
4 2024-01-05        4      False       True   2024-01-04 2024-01-06
5 2024-01-06        5       True      False   2024-01-05 2024-01-07
6 2024-01-07        6       True      False   2024-01-06 2024-01-08
7 2024-01-08        0      False       True   2024-01-07 2024-01-09
8 2024-01-09        1      False       True   2024-01-08 2024-01-10
9 2024-01-10        2      False       True   2024-01-09 2024-01-11

In [136]:
# Create DataFrame with Time Based Data
data={'data':pd.date_range(start='2023-01-01',periods=10,freq='Min'),'Value1':range(10),'Value2':range(10,20)}
# Freq Can be changed to H -> Hour , M -> Month , Min -> Min , Date -> Date
df=pd.DataFrame(data)
print(df)

                 data  Value1  Value2
0 2023-01-01 00:00:00       0      10
1 2023-01-01 00:01:00       1      11
2 2023-01-01 00:02:00       2      12
3 2023-01-01 00:03:00       3      13
4 2023-01-01 00:04:00       4      14
5 2023-01-01 00:05:00       5      15
6 2023-01-01 00:06:00       6      16
7 2023-01-01 00:07:00       7      17
8 2023-01-01 00:08:00       8      18
9 2023-01-01 00:09:00       9      19